<configuration>
    <packageSourceMapping>
        <packageSource key="github">
            <package pattern="KozLibraries*" />
        </packageSource>

        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
